<html>
  <head>
    <meta charset="utf-8">
    <title>tesseract sample</title>
    <!-- Bootstrap -->
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- js -->
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./node_modules/tesseract.js/dist/tesseract.js"></script>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- ファイルアップ用 -->
      <img :src="image" class="img" />
      <input type="file" name="slide" accept="image/*" @change="onFileChange" />

      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <button :disabled="!image" v-on:click="recognize()" >解析開始</button>

      <!-- 解析結果 -->
      <div class="result">
        <div class="result_title">解析結果</div>
        {{ message }}
      </div>

      <!-- プログレスバー -->
      <template v-for="progressData in progressList">
        <div class="container" class="progress">
          {{ progressData.status }}
          <div class="progress progress-striped active">
            <div class="progress-bar" :style="progressData.progressWidth">
              <span>{{ progressData.progress }}%</span>
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
  <script type="text/javascript">
    var vue = new Vue({
      el: '#app',
      data: {
        image: null,
        message: '',
        progressList: {},
        status: '',
        selected: 'jpn',
        options: [
          { value: 'afr', text: 'Afrikaans' },
          { value: 'ara', text: 'Arabic' },
          { value: 'aze', text: 'Azerbaijani' },
          { value: 'bel', text: 'Belarusian' },
          { value: 'ben', text: 'Bengali' },
          { value: 'bul', text: 'Bulgarian' },
          { value: 'cat', text: 'Catalan' },
          { value: 'ces', text: 'Czech' },
          { value: 'chi_sim', text: 'Chinese' },
          { value: 'chi_tra', text: 'TraditionalChinese' },
          { value: 'chr', text: 'Cherokee' },
          { value: 'dan', text: 'Danish' },
          { value: 'deu', text: 'German' },
          { value: 'ell', text: 'Greek' },
          { value: 'eng', text: 'English' },
          { value: 'enm', text: 'English(Old)' },
          { value: 'epo', text: 'Esperanto' },
          { value: 'epo_alt', text: 'Esperantoalternative' },
          { value: 'equ', text: 'Math' },
          { value: 'est', text: 'Estonian' },
          { value: 'eus', text: 'Basque' },
          { value: 'fin', text: 'Finnish' },
          { value: 'fra', text: 'French' },
          { value: 'frk', text: 'Frankish' },
          { value: 'frm', text: 'French(Old)' },
          { value: 'glg', text: 'Galician' },
          { value: 'grc', text: 'AncientGreek' },
          { value: 'heb', text: 'Hebrew' },
          { value: 'hin', text: 'Hindi' },
          { value: 'hrv', text: 'Croatian' },
          { value: 'hun', text: 'Hungarian' },
          { value: 'ind', text: 'Indonesian' },
          { value: 'isl', text: 'Icelandic' },
          { value: 'ita', text: 'Italian' },
          { value: 'ita_old', text: 'Italian(Old)' },
          { value: 'jpn', text: 'Japanese' },
          { value: 'kan', text: 'Kannada' },
          { value: 'kor', text: 'Korean' },
          { value: 'lav', text: 'Latvian' },
          { value: 'lit', text: 'Lithuanian' },
          { value: 'mal', text: 'Malayalam' },
          { value: 'mkd', text: 'Macedonian' },
          { value: 'mlt', text: 'Maltese' },
          { value: 'msa', text: 'Malay' },
          { value: 'nld', text: 'Dutch' },
          { value: 'nor', text: 'Norwegian' },
          { value: 'pol', text: 'Polish' },
          { value: 'por', text: 'Portuguese' },
          { value: 'ron', text: 'Romanian' },
          { value: 'rus', text: 'Russian' },
          { value: 'slk', text: 'Slovakian' },
          { value: 'slv', text: 'Slovenian' },
          { value: 'spa', text: 'Spanish' },
          { value: 'spa_old', text: 'OldSpanish' },
          { value: 'sqi', text: 'Albanian' },
          { value: 'srp', text: 'Serbian(Latin)' },
          { value: 'swa', text: 'Swahili' },
          { value: 'swe', text: 'Swedish' },
          { value: 'tam', text: 'Tamil' },
          { value: 'tel', text: 'Telugu' },
          { value: 'tgl', text: 'Tagalog' },
          { value: 'tha', text: 'Thai' },
          { value: 'tur', text: 'Turkish' },
          { value: 'ukr', text: 'Ukrainian' },
          { value: 'vie', text: 'Vietnamese' },
        ],
      },
      computed: {
      },
      created: function()　{
      },
      methods: {
        onFileChange(e) {
          var files = e.target.files || e.dataTransfer.files;
          if (!files.length) {
            return;
          }
          this.createImage(files[0]);
        },
        createImage(file) {
          var image = new Image();
          var reader = new FileReader();
          var vm = this;

          reader.onload = (e) => {
            vm.image = e.target.result;
          };
          reader.readAsDataURL(file);
        },
        removeImage: function (e) {
          this.image = '';
        },
        recognize: function() {
          // プログレスバー削除
          this.progressList = {};

          // イメージデータ取得
          var image = document.getElementsByClassName("img");

          // 解析
          Tesseract.recognize(image[0], {lang: vue.selected})
          .progress(function(message) {
            console.log(message);
            // プログレスバーを更新
            if('status' in message && 'progress' in message) {
              if((message.status in vue.progressList) == false) {
                Vue.set(vue.progressList, message.status, { status: '', progress: 0, progressWidth: "width:" + this.progress + "%"});
              }
              vue.progressList[message.status].status = message.status;
              vue.progressList[message.status].progress = message.progress * 100;
              vue.progressList[message.status].progressWidth = "width:" + (message.progress * 100) + "%";
            }
          })
          .catch(err => console.error(err))
          .then(function(result) {
            console.log(result);
            vue.message = result.text;
          })
          .finally(resultOrError => console.log(resultOrError))
        }
      }
    });

  </script>
</html>